<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
    <link rel="stylesheet" href="../style/zastita.css">
    <title>Kako se zaštititi</title>
</head>
<body>
    <div class="view v1">1</div>
    <div class="view v2">2</div>
    <div class="view v3">3</div>
    <div class="view v4">4</div>
    <div class="navigacija">
        <input class="slide" type="radio" name="slide" id="" >
        <input class="slide" type="radio" name="slide" id="">
        <input class="slide" type="radio" name="slide" id="">
        <input class="slide" type="radio" name="slide" id="">
    </div>
    <button class="strelica lijevo" onclick="idiLijevo()">
        <svg height="50px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "/></svg>
    <button class="strelica desno" onclick="idiDesno()">
        <svg height="50px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "/></svg>
    </button>
    <script src="../scripte/zastita.js"></script>
</body>
</html>